.colorSkills {
    color: rgba(255, 254, 248, 0.64);
    text-shadow: 5px 4px 1px black
}

#colorSkills {
    color: rgba(255, 254, 248, 0.64);
    text-shadow: 5px 4px 1px black
}

.img-color {
    background: linear-gradient(45deg, rgba(234, 22, 229, 0.87), rgba(31, 253, 23, 0.67), rgba(255, 0, 132, 0.96), rgb(25, 66, 137));
    border-radius: 30px;
    animation: animate 2.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.button:hover {
    background: #CCCECE;
    color: #1B242F;
}


/*//date style*/

/* general styling */
:root {
    --smaller: .75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}


/*vaqt 22*/


html, body {
    height: 100%;
}

body {
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
}

p {
    margin: 0;
    padding: 0;
}

#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}

.date {
    letter-spacing: 0.1em;
    font-size: 24px;
}

.text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}





